* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/*  --------------------shop cart---------------------- */

th:nth-child(3),
 td:nth-child(3) {
    width: 10px;
}

.btn-primary {
    background-color: #006d8b;
    border-color: #006d8b;
    border-radius: 50px;
    padding: 15px;
    width: 200px;

}

.btn-primary:hover {
    background-color: #006d8b;
    box-shadow: inset 35em 0 0 0 #f1b228;
    transition: box-shadow 1000ms ease-in-out;
    color:#012e4a
}

.cartprice {

    font-weight: 1000;
    color: orange;
}

.times {
    background-color: #f1b228;
}

.times:hover {
    background-color: #f12828;
}

 .product-image {
    width: 90px;
    height: 70px;
   
}

/*------------- footer-------------- */
.footer {
    background-color: #012e4a;
    padding: 40px 0;
}

.footer-item i {
    margin-left: 10px;
}

.footer-item a {
    transition: color 0.3s ease;
}

.footer-item a:hover {
    color: #f1b228 !important;
}

@media (max-width: 768px) {
    .footer-item {
        margin-bottom: 20px;
    }
}

.footer {
    background-color: #02667e;
    margin-top: auto;
}

.footer p {
    margin: 0;
}

.footer i {
    font-size: 1.5rem;
    color: #17a2b8;
   
}

.footer a {
    color: #ffffff;
    font-weight: bold;
}

.footer a:hover {
    color: #17a2b8;
    text-decoration: underline;
}